<form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">

<div class="form-group has-feedback">
				<input type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email" placeholder="Email" [pattern]="emailRegex" required
      [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
    <div *ngIf="signUpForm.submitted && email.errors?.pattern">
      <label class="validation-message">Invalid email address.</label>
    </div>
				
			  </div>


  <label>Enter New Password</label>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password" placeholder="Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  <label>Conform Password</label>
  <input type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password1" name="password1" placeholder="conform Password"
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">This field is required.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Enter atleast 4 characters.</label>
  </div>
  <input type="hidden" #hidden="ngModel" ngModel="{{token}}" name="token" value="{{token}}" 
  minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
    <pre>{{token}}</pre>
  <input type="submit" value="Submit">

</form>
